target/
project/sbt-launch-*.jar
.project
.settings/
.target/
.DS_Store
.cache
.classpath
.history
*.log
*.iml
logs/
*.pyc
bin/
.worksheet/
.idea/
.idea_modules/
test-reports/
.vagrant
*.ipr
*.iws
output/
/public/*